.field-radio {
  &__name {
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dotted;
    margin-right: 5px;
    line-height: 1.4rem;
  }

  &__input {
    display: none;
  }
}

.field-radio input[type="radio"]:checked + label {
  padding: 4px 8px;
  border-radius: 3px;
  background: $color-main;
  color: #ffffff;
}
